/* Textual-specific theme styles */

#file-browser {
    border: tall $border-blurred;
    padding: 1 2;
}

#file-browser:focus {
    border: tall $border;
}

/* MarkdownEditor TextArea styling */
TextArea {
    padding: 1 3 0 3;
    width: 100%;
    height: 100%;
}

/* EditorStatusBar styling */
EditorStatusBar {
    dock: bottom;
    height: 1;
    background: rgb(40,40,40);
    color: rgb(220,220,220);
    padding: 0 1;
}

EditorStatusBar.--spellcheck-mode {
    height: 20;
}
